:root {
    --primary-color: #1DBEB4;
    --color2: #545776;
    --color4: #7F7F7F;
 }


.edit-patient-form-container {
   width: 400px; /* Ajusta el ancho del modal según tus necesidades */
    margin: 80px auto; /* Centra el modal en la página */
    padding: 10px; /* Ajusta el espacio interno del modal */
    background-color: var(--color2); /* Usa el color de fondo deseado */
    border-radius: 10px; /* Ajusta el radio de las esquinas del modal */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Añade una sombra al modal */
    overflow-y: auto;
    text-align: center;
}

.edit-patient-form-container input[type="text"],
.edit-patient-form-container input[type="email"],
.edit-patient-form-container input[type="date"]
{
  width: calc(100% - 20px); /* Ajusta el ancho del campo de entrada */
  padding: 10px; /* Ajusta el espacio interno del campo de entrada */
  margin-bottom: 15px; /* Espaciado entre los campos de entrada */
  font-size: 16px; /* Tamaño de la fuente del campo de entrada */
  border: 1px solid var(--color4); /* Borde del campo de entrada */
  border-radius: 9px; /* Radio de las esquinas del campo de entrada */
}

#gender {
   width: calc(100% - 20px); /* Ajusta el ancho del campo de entrada */
   padding: 10px; /* Ajusta el espacio interno del campo de entrada */
   margin-bottom: 15px; /* Espaciado entre los campos de entrada */
   font-size: 16px; /* Tamaño de la fuente del campo de entrada */
   border: 1px solid var(--color4); /* Borde del campo de entrada */
   border-radius: 9px;
}

#sesion {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.edit-patient-form-container label {
  display: block;
  margin-bottom: 10px;
  color: white; /* Color del texto de la etiqueta */
  font-size: 18px; /* Tamaño de la fuente de la etiqueta */
}

.edit-patient-form-container button {
  background-color: #7F7F7F; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none;
  padding: 12px 20px; /* Espaciado interno del botón */
  font-size: 16px; /* Tamaño de la fuente del botón */
  border-radius: 5px; /* Radio de las esquinas del botón */
  cursor: pointer;
  margin-right: 23px;
  transition: background-color 0.3s; /* Transición al pasar el mouse sobre el botón */
}

.edit-patient-form-container button:hover {
  background-color: var(--primary-color); /* Cambia el color del botón al pasar el mouse */
}
